@media screen and (max-width:576px) {
    body{
        max-width: 95%;
        margin: auto;
    }
    .donate-content{
        margin-top: 50px;
    }
    .amount{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .donate-btn{
        margin: 50px auto;
    }
    .plan-container{
        flex-direction: column;
    }
    .plan-container>div{
    height: 250px;
}
.donation-container{
    flex-direction: column;
}
.donation-img>img{
    width: 100%;
}
.donation-container{
    margin-top: 5px;
    gap: 10px;
}
.survive{
    margin-bottom: 50px;
}
.Updates-content>input{
    padding: 14px 17px 14px 17px;
    margin-bottom: 100px;
}
}