*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    max-width: 1440px;
    margin: 0 auto;
}
/******* common style ********/
.btn{
   background-color: #FF5959; 
   color: #FFFFFF;
   font-weight: 600;
   cursor: pointer;
   border-radius: 3px;
   border: none;
   padding: 10px;
}
.head{
    font-size: 2.75rem;
    color: #121212;
    font-weight: 700;
}
.text{
    color: #707070;
    line-height: 1.35;
}
/******* Nav section *********/
.nav-banner{
    min-height: 669px;
    background-image:linear-gradient(#12121293, #121212d2), url(./resource/images/donation4.jpg); 
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner-content{
    max-width: 826px;
    min-height: 320px;
}
.banner-content>h3{
    font-size: 4rem;
    color: #FFFFFF;
    font-weight: 700;
}
.banner-content>P{
    font-weight: 400;
    font-size: 1.25rem;
    color: #ffffffb0;
    line-height: 2;
    margin-bottom: 20px;
    line-height: 2;
}
/******** Donate Today ***********/
.donate-content{
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.donate-content>h3{
    margin-bottom: 20px;
}
.amount{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    gap: 47px;
}
.tk{
    font-size: 2rem;
    font-weight: 700;
    color: #707070;
    padding: 43px 23px;
}
#orange{
    color: #FF5959;
    border: 1px solid #FF5959;
}
.donate-btn{
    display: flex;
    margin: 100px auto;
}
/********* Our Donate Plan ***********/
.Donate-Plan{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;
}

.Donate-Plan>h3{
    margin-bottom: 10px;
}
.plan-container{
    display: flex;
    gap: 25px;
}
.plan-container>div{
    width: 360px;
    height: 352px;
    padding: 20px;
}
.plan-content>div>h3{
    margin-top: 30px;
    margin-bottom: 16px;
}
.plan-content>div>p{
    line-height: 1.50;
}
.plan-content{
    display: flex;
    align-items: center;
}